<databaseChangeLog
        xmlns="http://www.liquibase.org/xml/ns/dbchangelog"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.liquibase.org/xml/ns/dbchangelog
        http://www.liquibase.org/xml/ns/dbchangelog/dbchangelog-4.32.xsd">
    <changeSet id="7" author="Matthew Shockman">
        <sql>
            CREATE TYPE identity_provider_mapper_type AS ENUM('static_mapper', 'if_verified_mapper', 'claim_mapper');
        </sql>
        <createTable tableName="identity_provider_mapper">
            <column name="id" type="bigint" autoIncrement="true">
                <constraints primaryKey="true" nullable="false" unique="true" />
            </column>
            <column name="created_at" type="timestamp" defaultValueComputed="current_timestamp">
                <constraints nullable="false" />
            </column>
            <column name="updated_at" type="timestamp" defaultValueComputed="current_timestamp">
                <constraints nullable="false" />
            </column>
            <column name="identity_provider_id" type="uuid">
                <constraints nullable="false" />
            </column>
            <column name="claim" type="text">
                <constraints nullable="false" />
            </column>
            <column name="verified_claim" type="text">
                <constraints nullable="true" />
            </column>
            <column name="mapper_type" type="identity_provider_mapper_type" defaultValue="claim_mapper">
                <constraints nullable="false" />
            </column>
            <column name="attribute" type="text">
                <constraints nullable="false" />
            </column>
        </createTable>

        <addForeignKeyConstraint
                baseTableName="identity_provider_mapper"
                baseColumnNames="identity_provider_id"
                constraintName="fk_identity_provider_mapper_identity_provider"
                referencedTableName="identity_provider"
                referencedColumnNames="id"
                onDelete="CASCADE"
        />

        <sql>
            CREATE TRIGGER updated_at_now BEFORE UPDATE ON "identity_provider_mapper" FOR EACH ROW EXECUTE PROCEDURE update_modified_column();
        </sql>

        <addUniqueConstraint tableName="identity_provider_mapper" columnNames="identity_provider_id, attribute" constraintName="uq_idp_mapper_attribute" />

        <rollback>
            <dropForeignKeyConstraint baseTableName="identity_provider_mapper" constraintName="fk_identity_provider_mapper_identity_provider" />
            <dropUniqueConstraint tableName="identity_provider_mapper" constraintName="uq_idp_mapper_attribute" />
            <dropTable tableName="identity_provider_mapper" />
            <sql>
                DROP TYPE identity_provider_mapper_type;
            </sql>
        </rollback>
    </changeSet>
</databaseChangeLog>